body {
  margin: 0;
  padding: 0;
  background-color: #60d9f1;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

.player {
  padding: 25px 10vw;
}

form {
  width: 80vw;
  margin: 50px auto;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

input {
  font-size: 1.2em;
  line-height: 2em;
  flex: 1 0 auto;
}

input[type="submit"] {
  flex: none;
  background-color: lightgrey;
  border: none;
  border-bottom: 2px solid darkgrey;
  border-radius: 4px;
}

.results {
  border: 1px solid white;
  display: flex;
  flex-flow: row wrap;
}

.track {
  flex: 1 1 20%;
}

.track > img {
  width: 100px;
  height: 100px;
}

.artist-name {
  font-size: 1.2em;
}

.track-title {
  font-size: 0.8em;
  font-stretch: condensed;
}
